<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DEMO</title>
</head>

<body>

    <div>
        <audio id="audioPlayer" controls></audio>
    </div>
    <button id="recordButton">开始说话</button>
    <button onclick="setRole()">设置角色</button>

    <div>
        <audio id="audio-player" controls>
            Your browser does not support the audio element.
        </audio>
    </div>
    <button onclick="requestAudio()">获取回答</button>

    <!-- <audio controls>
        <source src="C:\Users\YunNong\Desktop\ChatGPT-3.5-API\result.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio> -->
    <!-- <h1>{{ sample_input }}</h1>
    <h1>{{ sample_output }}</h1> -->
    <div id="q"></div>
    <div id="a"></div>

    <script>
        function requestAudio() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_audio', true);
            xhr.responseType = 'blob';
            xhr.onload = function (e) {
                if (this.status == 200) {
                    var blob = new Blob([this.response], { type: 'audio/mp3' });
                    var url = URL.createObjectURL(blob);
                    var audio = document.getElementById('audio-player');
                    audio.src = url;
                }
            };
            xhr.send();
        }
        function setRole() {
            var xhr = new XMLHttpRequest();

            xhr.open("POST", "http://127.0.0.1:5000/set_role", true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                } else {
                    console.log("请求失败！");
                }
            };
            xhr.send();
        }
        let audioContext = null;
        let audioStream = null;
        let audioRecorder = null;
        let audioChunks = [];

        const recordButton = document.getElementById('recordButton');
        const audioPlayer = document.getElementById('audioPlayer');

        recordButton.addEventListener('click', function () {
            if (!audioRecorder) {
                navigator.mediaDevices.getUserMedia({
                    audio: true
                }).then(function (stream) {
                    audioStream = stream;
                    audioContext = new AudioContext();
                    audioRecorder = new MediaRecorder(audioStream);

                    audioRecorder.ondataavailable = function (e) {
                        audioChunks.push(e.data);
                    };

                    audioRecorder.onstop = async function () {
                        const audioBlob = new Blob(audioChunks);
                        const formData = new FormData();
                        formData.append('audio', audioBlob, 'audio.wav');
                        const audioUrl = URL.createObjectURL(audioBlob);
                        audioPlayer.src = audioUrl;
                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', 'http://127.0.0.1:5000/chat_story');
                        // xhr.setRequestHeader("Content-Type", 'application/json');
                        xhr.send(formData);
                        xhr.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                data = JSON.parse(this.responseText);
                                document.querySelector('#q').innerHTML = data["sample_input"];
                                document.querySelector('#a').innerHTML = data["sample_output"];
                            }
                        }
                        // await wait(2000);
                        // xhr.open('POST', 'http://127.0.0.1:5000/get_chat')
                        // setInterval(updateContent, 1000);
                    };

                    audioRecorder.start();
                    recordButton.textContent = '停止说话';
                }).catch(function (e) {
                    console.error('出错：', e);
                });
            } else {
                audioRecorder.stop();
                audioStream.getTracks().forEach(function (track) {
                    track.stop();
                });
                audioStream = null;
                audioRecorder = null;
                audioChunks = [];

                recordButton.textContent = '开始说话';
                audioPlayer.pause();
            }
        });
    </script>
</body>

</html>